<launch>
    <!-- Launch robot localization node -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
        <param name="use_control" value="false"/>
        <param name="print_diagnostics" value="true"/>
        <param name="debug" value="false"/>
        <rosparam file="$(find autonav_hazard_detection)/config/ekf_localization.yaml"/>
    </node>

    <!-- Launch gmapping node -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_update_interval" value="1.0"/>
        <param name="maxUrange" value="5.6"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
       

